<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="opencart.report.ExtentReportManager" />
	</listeners>
	<test name="LoginTest">
		<classes>
			<class name="opencart.test.login.LoginTest" />
			<class name="opencart.test.login.LoginEmptyFieldsTest" />
			<class name="opencart.test.login.LoginInvalidEmailTest" />
		</classes>
	</test>
	<test name="CartTest">
		<classes>
			<class name="opencart.test.cart.CartTest" />
			<class name="opencart.test.cart.EmptyCartUnregisteredUserTest" />

		</classes>
	</test>
	<test name="WishlistTest">
		<classes>
			<class name="opencart.test.wishlist.WishListTest" />
		</classes>
	</test>
	<test name="ContactForm">
		<classes>
			<class name="opencart.test.contact.ContactFormTest" />
		</classes>
	</test>

	<test name="Checkout">
		<classes>
			<class name="opencart.test.checkout.CheckoutTest" />
		</classes>
	</test>

	<test name="Product">
		<classes>
			<class name="opencart.test.product.AddToCartTest" />
		</classes>
	</test>


	<test name="Register">
		<classes>
			<class name="opencart.test.register.RegisterTest" />
			<class
				name="opencart.test.register.RegisterDisagreePrivacyPolicyTest" />

		</classes>
	</test>



</suite> <!-- Suite -->
